.link {
color: blue;
  text-decoration:none;
}
.link:hover {
  color: orange;
  cursor: pointer;
  text-decoration: underline;
}






/*main>p {
  color: blueviolet;
}
#bold-text {
  color: red;*/

/*.text-color {
color: blue;
}
#bold-text{
  color: red;
}*/


